<div layout="row" layout-align="center center" >

	<md-card flex-gt-sm="50" flex="100">

		<h1>
			<span class= "glyphicon glyphicon-user"></span>
			<span>Sign-up</span>
		</h1>

		<form name="signupForm" ng-model = "signup.userData" ng-submit="signup.submit()">

			<md-input-container class="md-block" flex-gt-xs>
				<label>Email</label>
				<input ng-model="signup.userData.email" required ng-pattern="/^.+@.+\..+$/" type="email" name="email" maxlength="64"/>
				<div ng-messages="signupForm.email.$error">
		        	<div ng-message="pattern">Please provide a valid email.</div>
		        	<div ng-message="md-maxlength">The email has to be less than 64 characters long.</div>
					<div ng-message="required">A valid email address is required.</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-xs>
				<label>Password</label>
				<input type = "password" ng-model="signup.userData.password" required name="password" minlength="6">
				<div ng-messages="signupForm.password.$error">
		        	<div ng-message="md-minlength">Your password must be 6 charachters or more.</div>
					<div ng-message="required">Please enter a password.</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-xs>
				<label>Password Confirm:</label>
				<input type = "password" ng-model="signup.userData.passwordConfirm" required name="passwordConfirm" minlength="6">
				<div ng-messages="signupForm.passwordConfirm.$error">
		        	<div ng-message="md-minlength">Your password must be 6 charachters or more.</div>
					<div ng-message="required">Please enter a password.</div>
		        </div>
			</md-input-container>

			<i ng-if="signup.error">{{signup.error}}</i>

			<div layout ="row">
				<md-button class="md-raised md-primary" flex = "grow" type="submit">
					<span ng-if="!main.processing">Signup</span>
					<span ng-if="main.processing">loading...</span>
				</md-button>
			</div>

		</form>

	</md-card>

</div>
