<div layout="row" layout-align="center center" >

	<md-card flex-gt-sm="50" style="">

		<h1>
			<span class= "glyphicon glyphicon-user"></span>
			<span>Update Password</span>
		</h1>

		<form name="changePasswordForm" ng-model = "updatePassword.password" ng-submit="updatePassword.submit()">

			<md-input-container class="md-block" flex-gt-xs>
				<label>Old Password</label>
				<input type = "password" ng-model="updatePassword.password.old" required name="oldPassword" minlength="6">
				<div ng-messages="updatePassword.oldPassword.$error">
					<div ng-message="md-minlength">Your password must be 6 charachters or more.</div>
					<div ng-message="required">Please enter a password.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-xs>
				<label>New Password</label>
				<input type = "password" ng-model="updatePassword.password.new" required name="newPassword" minlength="6">
				<div ng-messages="updatePassword.newPassword.$error">
					<div ng-message="md-minlength">Your password must be 6 charachters or more.</div>
					<div ng-message="required">Please enter a password.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-xs>
				<label>New Password Confirm:</label>
				<input type = "password" ng-model="updatePassword.password.newConfirm" required name="newPasswordConfirm" minlength="6">
				<div ng-messages="updatePassword.newPasswordConfirm.$error">
					<div ng-message="md-minlength">Your password must be 6 charachters or more.</div>
					<div ng-message="required">Please enter a password.</div>
				</div>
			</md-input-container>

			<i ng-if="updatePassword.error">{{updatePassword.error}}</i>

			<div layout ="row">
				<md-button class="md-raised md-primary" flex = "grow" type="submit">
					<span ng-if="!newPassword.processing">Update</span>
					<span ng-if="newPassword.processing">loading...</span>
				</md-button>
			</div>

		</form>

	</md-card>

</div>
